.App {
  text-align: center;
}

.image {
  /* max-width: 500px; */
  max-height: 600px;
}

.center {
  display: flex;
  justify-content: center;
}

.particles {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

#disclaimer {
  font-size: 21px;
}